@media all and (min-width: 480px) {
    .Login {
        padding: 40px 0;
    }
  
    .Login form {
        margin: 0 auto;
        max-width: 400px;
    }
}

.Login .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .5rem 0;
}

.Login .buttons a[href="/signup"] {
    text-align: right;
}
