body {
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 20px;
  height: 60px;
}

.navbar {
  padding: 0;
  z-index: 1100;
}

footer {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #01213D;
  color: white;
  min-height: 50px;
}

footer .nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

footer .nav-item {
  padding: 1rem;
  padding-bottom: 0;
}

footer .nav-item:last-child {
  flex-grow: 0;
  text-align: left;
}

footer a {
  color: white;
}

@media (min-width: 768px) {

  footer .nav {
    flex-direction: row;
  }

  footer .nav-item:last-child {
    flex-grow: 1;
    text-align: right;
  }

}

.headerContainer {
  max-width: 1200px;
  margin: auto;
}

.footerContainer {
  max-width: 1200px;
  margin: auto;
}

.logo {
  width: 200px;
}

#site-container {
  background: white;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
}

#content-container {
  min-height: calc(100vh - (60px));
}

img {
  width: 100%;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
}

.popular-post {
  flex-grow: 1;
}

.social {
  display: flex;
  margin-bottom: 1rem;
  min-width: 210px;
}

img.logo-social {
  width: 50px;
}

.social-box {
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  margin-bottom: 5px;
}

.social-button {
  display: none;
}

.last-posts {
  background-color: #FFDF00;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.last-posts .post {
  margin: 1rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
}

.post-horizontal {
}

.post-vertical {
  display: flex;
  flex-direction: column;
}

.post-image {
}

.post-body {
  padding: 0 1rem;
}

.old-posts {
  display: grid;
  grid-template-columns: 1fr;
}

.old-posts-videos {
  flex-grow: 1;
}

.old-posts-community {
  flex-grow: 0;
}

.old-posts-community .section-title {
  text-align: center;
}

.img-post {
  width: 100%;
}

.post-video {
  display: flex;
  flex-direction: column;
}

.community-post {
  margin: 0 1rem;
}

.form-signup {
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-signup .card-footer {
  text-align: right;
}

.section-title {
  text-transform: uppercase;
  font-size: 1.3rem;
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
  }

  .social {
    flex-direction: column;
    margin: 0 2rem; 
    flex-basis: 250px;
  }

  .social-box {
    flex-grow: 0;
  }

  .social-button {
    border: 1px solid black;
    box-shadow: 2px 2px black;
    padding: .8rem;
    display: inline-block;
    min-width: 150px;
    margin-left: 5px;
  }

  .section-title {
    text-align: left;
  }
  
  .post {
    grid-template-columns: 1fr 1fr;
  }

  .last-posts {
    grid-template-columns: repeat(3, 1fr);
  }

  .last-posts .section-title {
    grid-column: 1 / 4;
    text-align: center;
  }
  
  .old-posts {
    grid-template-columns: 2fr 1fr;
  }

  .old-posts-community {
  }

  .post-video {
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .img-post {
    width: 100%;
  }  

  .form-signup {
    padding-left: 0;
    padding-right: 0;
    max-width: 900px;
    margin: auto;
  }
  
}

.popover{
  max-width: 100%;
}

svg > g:last-child > g:last-child { pointer-events: none }
div.google-visualization-tooltip { pointer-events: none }

.chart-container {
  text-align: center;
}

.charts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

@media (min-width: 900px) {
  .charts {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cardCharts {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

@media (min-width: 1000px) {
  .cardCharts {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

.btn-light:hover {
  background-color: #f9f9f9;
  border-color: none;
}